<div class="container">
<div class="row">
  <h1 id="browsing">METADATA</h1>
</div>
<div class="row">
  <h4>Browse! will show you all the tiffs in <%= "#{@filesystem_location}" %>, the shared dropbox for <%= link_to "Menu #{Rails.env}", @root %>.
</h4>

  <form id="myForm" name="myForm"></form>
  <button type="button" class="btn btn-large btn-success" id="browse">Browse!</button>

  <h4>Check the files you want to import, submit them and get ready to work with your metadata.</h4>
  <h4 class="success">
    Yay! These files should be ready to go on Menu's home page soon.

    You'll be emailed when your submission is complete.
  </h4>
  <h4 class="failure">
    We're sorry, something went wrong. Please try again or contact the support team.
  </h4>
</div>

<script>
$().ready(function() {
    $.ajaxSetup({
      headers: {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      }
    });
  $('#browse').browseEverything({
    route: "/browse",
    target: "#myForm",
    accept: "image/tiff",
    }).done(function(data){
      $.post('/jobs/import', {'file_list': data}, function(){ $("h4.success").show(); }).fail(function() {
        $("h4.failure").show();
  })
    }).cancel(function() {
    // User cancelled the browse operation
    }).fail(function(status, error, text) {
    // URL retrieval experienced a techical failure
    });
});
</script>
</div>