<div class="container">
<div class="row">
  <h1>Which files need metadata today?</h1>
</div>
<div class="row">
  <h4>The button below will show you everything on the [what is it called again LaLa or some nonsense?] drive. Select the files you want and click submit.
</h4>

  <form id="myForm" name="myForm"></form>
  <button type="button" class="btn btn-large btn-success" id="browse">Browse!</button>

  <h4>
    The files will be viewable on the application's main page shortly. Check your email - MENU will email you when your files are ready.
  </h4>
</div>

<script>
$().ready(function() {
    $.ajaxSetup({
    headers: {
      'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
    }
  });
  $('#browse').browseEverything({
    route: "/browse",
    target: "#myForm"
    }).done(function(data){
      $.post('/jobs/import', {'file_list': data}, function(data){console.log('ok') })
    }).cancel(function() {
    // User cancelled the browse operation
    }).fail(function(status, error, text) {
    // URL retrieval experienced a techical failure
    });
});
</script>
</div>