<div class="container">
<div class="jumbotron">
  <h1 id="browsing" class="text-center">Import Images</h1>
  <p class='lead'>Browse! will show you all the tiffs in <%= "#{@filesystem_location}" %>, the shared dropbox for <%= link_to "Menu #{Rails.env}", @root %>. Choose the files you want and submit them. Menu will take it from there.
</p>

  <form id="myForm" name="myForm"></form>

  <p class="text-center"><a class="btn btn-lg btn-success" id="browse">Browse!</a></p>

  <div class="alert alert-success">
    <strong>Yay!</strong> These files should be ready soon. You will be emailed their status.
  </div>

  <div class="alert alert-danger">
    <strong>No!</strong> We're sorry, something went wrong. Please try again or email repo-support@northwestern.edu.
  </div>

<script>
$(function(){
  $.ajaxSetup({
    headers: {
      'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
    }
  });
  $('#browse').browseEverything({
    route: "/browse",
    target: "#myForm",
    accept: "image/tiff",
    }).done(
      function(data){
      $.post('/jobs/import', {'file_list': data},
        function(){
          $(".alert-success").show();
          $(".alert-danger").hide();
        }).
        fail(function() {
          $(".alert-success").hide();
          $(".alert-danger").show();
        })
    }).cancel(function() {
    // User cancelled the browse operation
      $(".alert-success").hide();
      $(".alert-danger").hide();
    }).fail(function(status, error, text) {
    // URL retrieval experienced a techical failure
  });
});

</script>
</div>
</div>
