<div class="container">
  <h1>Job IDs</h1>

  <form id="myForm" name="myForm"></form>

  <button type="button" data-toggle="browse-everything" data-route="<%=browse_everything_engine.root_path%>"
  data-target="#myForm" class="btn btn-large btn-success" id="browse">Browse!</button>


</div>

