
Dear PERSON
===========================================


  Your images for job <%= @job.id %> have been imported.
  You can begin editing their metadata at  YOUR SITE.

Thanks and have a great day!</p>
