<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Dear PERSON </h1>
    <p>
      Your images for job <%= @job.id %> have been imported.<br>
      You can begin editing their metadata at  YOUR SITE.
    </p>

    <p>Thanks and have a great day!</p>
  </body>
</html>