defaults: &defaults
  SECRET_TOKEN: cool_token

development:
  <<: *defaults
  images_dir: lib/assets/dropbox
  images_filesystem_location: lib/assets/dropbox
  dil_url: http://127.0.0.1:3331/multiresimages
  dil_fedora: http://127.0.0.1:3331/multiresimages/get_vra
  dil_update: http://127.0.0.1:3331/multiresimages/update_vra
  dil_search: http://127.0.0.1:3331/catalog.json

test:
  <<: *defaults
  images_dir: lib/assets/dropbox
  images_filesystem_location: lib/assets/dropbox
  dil_url: http://127.0.0.1:3331/multiresimages
  dil_fedora: http://127.0.0.1:3331/multiresimages/get_vra
  dil_update: http://127.0.0.1:3331/multiresimages/update_vra
  dil_search: http://127.0.0.1:3331/catalog.json
  test_user_id: may720
  test_user_password: NUL/t3st

staging:
  <<: *defaults
  images_dir: /dropbox
  dil_url: https://HOSTNAME/multiresimages
  dil_fedora: http://HOSTNAME/multiresimages/get_vra
  dil_update: http://HOSTNAME/multiresimages/update_vra


production:
  <<: *defaults
  images_dir: /dropbox
  dil_url: https://HOSTNAME/multiresimages
  dil_fedora: http://HOSTNAME/multiresimages/get_vra
  dil_update: http://HOSTNAME/multiresimages/update_vra