defaults: &defaults
  SECRET_TOKEN: cool_token

development:
  <<: *defaults
  images_dir: lib/assets/dropbox
  dil_url: http://127.0.0.1:3333/multiresimages
  dil_fedora: http://127.0.0.1:3333/multiresimages/get_vra
  dil_update: http://127.0.0.1:3333/multiresimages/update_vra

test:
  <<: *defaults
  images_dir: lib/assets/dropbox
  dil_url: https://127.0.0.1:3333/multiresimages
  dil_fedora: http://127.0.0.1:3333/multiresimages/get_vra
  dil_update: http://127.0.0.1:3333/multiresimages/update_vra

staging:
  <<: *defaults
  images_dir: /dropbox
  dil_url: https://HOSTNAME/multiresimages
  dil_fedora: http://HOSTNAME/multiresimages/get_vra
  dil_update: http://HOSTNAME/multiresimages/update_vra


production:
  <<: *defaults
  images_dir: /dropbox
  dil_url: https://HOSTNAME/multiresimages
  dil_fedora: http://HOSTNAME/multiresimages/get_vra
  dil_update: http://HOSTNAME/multiresimages/update_vra