// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Hide the up and down errors in the editor */
.move_up, .move_down {
  display:none;
}

#browse{
  margin: 30px 0;
}

h1#browsing{
  margin-bottom: 50px;
}

h1#browsing{
  margin-bottom: 50px;
}

h4.success{
  display: none;
}

h4.failure{
  display: none;
}