// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Hide the up and down errors in the editor */
.move_up, .move_down {
  display:none;
}

#browse{
  margin: 30px;
}

h1#browsing{
  margin-bottom: 35px;
}

div.alert{
  display: none;
  font-size: 15px;
}

a.navbar-brand.important-item{
  color: #333333;
}
